
/* -----------------------------DESKTOP--------------------- */
@media (min-width: 769px)  {

}

/* ------------------------------TABLET--------------------- */

@media (min-width: 601px) and (max-width: 768px) {

}

/* -----------------------MOBILE---------------------------- */


@media (max-width: 600px) {
  #header-nav {
    display: none;
  }
  #grid-container {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #fff;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    margin: 0;
  }
  
  .logo-title {
    font-size: 7.5vw;
    margin-bottom: -0.8vh;
    font-weight: 500;

  }
  .logo-subtitle {
    font-size: 3vw;
    font-weight: 300;
  }
  
  .menu-hamburguesa {
    display: flex;
    flex-direction: column; /* Coloca las líneas verticalmente */
    justify-content: space-around; /* Espacia las líneas uniformemente */
    width: 30px; /* Ancho del menú hamburguesa */
    height: 25px; /* Alto del menú hamburguesa */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }

  /* Estilo de las líneas del menú hamburguesa */
  .menu-hamburguesa .linea {
    background-color: black; /* Color de las líneas */
    height: 3px; /* Grosor de las líneas */
    width: 100%; /* Ancho completo del contenedor */
    border-radius: 2px; /* Esquinas ligeramente redondeadas */
  }





  
  .flex-grid {
    display: block;
    padding: 0px;
  }

  .col {
    margin-bottom:
  }
  .work-template-container {
    display: block;
    padding: 0;
  }

  .work-paragraph {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .work-paragraph p {
    font-size: 90%;
    margin-top: 10px;
  }

  .work-paragraph h1{
    font-size: 20px;
  }
  .work-paragraph h2{
    font-size: 14px;
  }

}
