/* --------------------------------GENERAL--------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media screen () {}

* {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* --------------------------PAGE TRANSITION------------------------- */

a {
  animation: transitionIn 0.5s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}


/* -------------------------------HEADER------------------------------ */

header {
  background-color: #ffffff;
  color: #fff;
  padding-top: 40px;
}

.logo {
  display: flex;
  justify-content: start;
  font-size: 3rem;
  padding-left:120px;
  padding-bottom: 13px;
  font-weight: 500;
  height: 100%;
}

.logo-text {
  color: rgb(179, 103, 135);
  text-decoration: none;
}

/* ----------------------------SUBTITLE------------------------------- */

.subtitle {
  display: flex;
  font-size: 1.2rem;
  color: #818181;
  text-decoration: none;
  font-weight: 400;
}

.subtitle a {
  color: black;
  text-decoration: none;
}

.subtitle-container {
  margin-right: auto;
  padding-left: 120px;
}

/* --------------------------------NAV-------------------------------- */

nav {
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: -30px;
  padding-right: 80px;
}

nav ul {
  display: flex;
  justify-content: end;
  list-style: none;

}

nav ul li {

}

nav ul li a {
  color: #818181;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 200;
}

.this-page {
  font-weight: 600;
}

.hover-page {
  transition: 0.3s;
}

.hover-page:hover {
  font-weight: 600;
}

.nav-links {
  margin-right: 40px;
}

/*---------------------------HAMBURGER MENU--------------------------- */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  margin-left: auto;
  align-content: center;
  padding-right: 0px;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(139, 139, 139);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-subtitle-container {
  margin-right: auto;
}

/* MAIN */

main {
  padding-top: 0px;
}

main h2 {
  margin-bottom: 0px;
}

/*------------------------------GRID MAINPAGE------------------------- */



.photo__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.photo__overlay:hover {
  opacity: 0.7;
}

.work-title {
  font-weight: 200;
  font-size: 1.9rem;
  margin-bottom: ;
}

.work-subtitle {
  font-weight: 400;
  font-size: 1rem;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
}


.col {
  display: block;
  flex: 1;
  position: relative;
  object-fit: fill;
}

.col-image {
  height: 100%; 
  width: 100%; 
  max-width: 100%; 
  max-height: 100%;
}



/* -----------------------------------ICONS-------------------------- */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* -------------------------WORK - TEMPLATE---------------------------*/

.work-template-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-left: 120px;
  padding-right: 120px;
}

.youtube-video {
  width: 100%; 
  aspect-ratio: 16 / 9;
  padding-right: 40px;
}

.youtube-video iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.work-paragraph p {
  padding-bottom: 34px;
  font-size: 14px;
}
.work-paragraph h2 {
  padding-bottom: 20px;
  font-size: 14px;
}
.work-paragraph h1 {
  padding-bottom: 0;
  font-size: 20px;
}

/*---------------------------------REEL--------------------------------*/

.reel-container {
  display: flex;
  justify-content: center;
  width:100%;
  height: auto;
  padding-bottom: 40px;
  padding-left: 320px;
  padding-right: 320px;

}

.reel-container iframe {
  flex: 1;
  width: 1008px;
  height: 567px;
  pad
 
}

/*----------------------------------ABOUT------------------------------*/

.about-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-left: 120px;
  padding-right: 120px;
}

.about-pic {
  width: 100%;
  height: auto;
  padding-left: 200px;
}

.about-pic img {
  height: 580px
}

.about-paragraph {
  padding-right: 200px;
}

.about-paragraph p {
  padding-bottom: 34px;
  font-size: 14px;
}

.about-paragraph h2 {
  padding-bottom: 20px;
  font-size: 14px;
}

.about-paragraph h1 {
  padding-bottom: 0;
  font-size: 20px;
}




/* --------------------------FOOTER SECTION ---------------------------*/

.footer {
  padding: 50px 0px  50px
}

.footer-container {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 0 40px 0px;
}

.footer-container li {
  margin: 0;
}

.footer-container a {
  color: #969696;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
}

.normal-footer {
  color: #969696;
}

.hover-footer {
  transition: 0.5s;
}

.hover-footer:hover {
  color: rgb(85, 0, 49);
}

.socials-footer-container {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  opacity: 0.5;
}
