/* --------------------------------GENERAL--------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media screen () {}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

}

/* ----------------------PAGE TRANSITION-------------------- */

a {
  animation: transitionIn 1s;
}

.work-paragraph {
  animation: transitionIn 1s;
}
.youtube-video {
  animation: transitionIn 2;
}
.reel-container {
  animation: transitionIn 2.5s;
}

.about-pic {
  animation: transitionIn 1s;
}
.about-paragraph {
  animation: transitionIn 1s;
}
.contact {
  animation: transitionIn 1s;
}


@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}


/* -------------------------------HEADER------------------------------ */

header {
  background-color: #ffffff;
  color: #fff;
}

.logo-container {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding-bottom: 4vh;
  padding-top: 8vh;
  padding-left: 6vh;
  padding-right: 6vh;
}

.logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.logo a {
  text-decoration: none;
  color: #000000;
  align-self: flex-start;
}

.logo-title {
  font-size: 3vw;
  height: auto;
  margin-bottom: -0.8vh;
  font-weight: 500;

}
.logo-subtitle {
  font-size: 1.5vw;
  height: auto;
  font-weight: 300;
}

.nav-desktop {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  flex: 1;
  width: 30vw;
  justify-content: flex-end;
  font-size: 1.5vw;
}

.nav-desktop a{
 align-self: flex-end;
 margin-left: 1vh;
 text-decoration: none;
}



.this-page {

  color: #000000;
  
}

.hover-page {
  transition: color 0.4s;
  color: #ababab;

}

.hover-page:hover {
  color: #000000;
}

/*---------------------------HAMBURGER MENU--------------------------- */

#hamburger-nav {
  display: none;
}

.hamburger-icon {
  display: flex;
  flex-direction: column; /* Coloca las líneas verticalmente */
  justify-content: space-around; /* Espacia las líneas uniformemente */
  width: 30px; /* Ancho del menú hamburguesa */
  height: 25px; /* Alto del menú hamburguesa */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilo de las líneas del menú hamburguesa */
.menu-hamburguesa .linea {
  background-color: #000; /* Color de las líneas */
  height: 3px; /* Grosor de las líneas */
  width: 100%; /* Ancho completo del contenedor */
  border-radius: 2px; /* Esquinas ligeramente redondeadas */
}

.menu {
  display: none; /* Oculta el menú por defecto */
  flex-direction: column; /* Hace que los ítems del menú se apilen verticalmente */
}

.menu.activo {
    display: flex; /* Muestra el menú cuando se agrega la clase 'activo' */
}

.menu ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding */
}

.menu li {
    margin: 10px 0; /* Espacia los ítems del menú */
}

.menu a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #000; /* Color del texto */
}


/* MAIN */

main {
  padding-top: 0px;
}

main h2 {
  margin-bottom: 0px;
}

/*------------------------------GRID MAINPAGE------------------------- */



.photo__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border: none;
  transition: opacity 0.25s;
}

.photo__overlay:hover {
  opacity: 0.7;
}

.work-title {
  font-weight: 200;
  font-size: 20px;
  margin-bottom: -0.2rem;
}

.work-subtitle {
  font-weight: 400;
  font-size: 1rem;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 6vh;
  padding-right: 6vh;
}


.col {
  display: block;
  flex: 1;
  position: relative;
  object-fit: fill;
}

.col-image {
  height: 100%; 
  width: 100%; 
  max-width: 100%; 
  max-height: 100%;
}



/* -----------------------------------ICONS-------------------------- */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* -------------------------WORK - TEMPLATE-------------------------*/

.work-template-container {
  display: flex;
  height: auto;
  width: 100%;
  height: auto;
  padding-bottom: 120px;
  padding-left: 80px;
  padding-right: 80px;
  gap: 40px;
}

.youtube-video {
  display: flex;
  flex-direction: row;
  width: 2650px;
  height: 450px;
}

.youtube-video iframe {
  width: 100%;
  height: auto;
  border: none;

}

.work-paragraph {
  align-self: ;
}

.work-paragraph p {
  padding-bottom: 34px;
  font-size: 14px;
}
.work-paragraph h2 {
  padding-bottom: 20px;
  font-size: 14px;
}
.work-paragraph h1 {
  padding-bottom: 0;
  font-size: 20px;
}

/*---------------------------------REEL-----------------------------*/

.section-reel {
  background-color: #ffffff;
  color: #ffffff;
}


.reel-container {
  display: flex;
  width:100%;
  height: auto;
  padding-bottom: 80px;
  padding-left: 320px;
  padding-right: 320px;
}

.reel-container iframe {
  width: 2650px;
  height: 450px;
  border: none;
}

/*----------------------------------ABOUT------------------------------*/

.about-container {
  display: flex;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
  gap: 40px;
}

.about-pic {
  
  width: 100%;
  height: auto;
}

.about-pic img {
  height: 450px;
  width: auto;
  padding-left: 200px;
}

.about-paragraph {
  padding-right: 200px;

}

.about-paragraph p {
  padding-bottom: 34px;
  font-size: 14px;
}

.about-paragraph h2 {
  padding-bottom: 20px;
  font-size: 14px;
}

.about-paragraph h1 {
  padding-bottom: 0;
  font-size: 20px;
}


/* --------------------CONTACT--------------------------- */

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 80px;
  font-size: 20px;
  font-weight: 200;
  gap: 10px;
}
.contact-title {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
}

/* --------------------------FOOTER SECTION ---------------------------*/

footer {
  flex: 1;
  height: 100%;
  width: 100%;
  padding-bottom: 6vh;
  padding-top: 4vh;
  padding-left: 6vh;
  padding-right: 6vh;
}

.socials-footer-container {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  height: auto;
  opacity: 0.5;
  padding-bottom: 2.5vh;
  gap: 1.5vw;
}

.socials-footer-container img{
  width: 2.5vw;
  height: auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 1vw;
}

.footer-container li {
  margin: 0;
}

.footer-container a {
  color: #969696;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: 300;
  
}

.normal-footer {
  color: #ababab;
}

.hover-footer {
  transition: color 0.4s;
}

.hover-footer:hover {
  color: rgb(0, 0, 0);
}

